.homePageContainer {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImage {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}